  .title h1 {
  font-size: 60;
  border: 4px solid Black;
  background-color: #C2DAE7;
  text-align: center;
}

.countries h3{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 14px 10px;
}

.countries .thumbnail {
  border: 2px solid black;
  margin-bottom: 20px;
}

.countries a{
  color: #2E596E;
}


